backups
crash-reports
defaultconfigs
local
logs
mods
natives
patchouli_books
resourcepacks
saves
simplebackups
skyblock_exports
patchouli_data.json
rhino.local
usercache.json
usernamecache.json
screenshots
config.json
options.txt
rhino.local.properties
